{% load static %}

{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static './img/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static './img/favicon.png' %}">
  <title>
    Dashboard • Digibar
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Nucleo Icons -->
  <link href="{% static './css/nucleo-icons.css' %}" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="{% static './css/blk-design-system.css' %}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static './demo/demo.css' %}" rel="stylesheet" />
</head>

<body class="profile-page">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="100">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="#" target="">
          <span>Dbar•</span> 
        </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a>
                DBAR•
              </a>
            </div>
            <div class="col-6 collapse-close text-right">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'invoices' %}">Sales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'purchases' %}">Purchases</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'transaction' %}">Transactions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productandservice' %}">Product and Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-default d-none d-lg-block" href="{% url 'logout' %}">
              <i class="tim-icons icon-cloud-download-93"></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->

  <div class="wrapper">
    <div class="page-header">
      <img src="../assets/img/dots.png" class="dots">
      <img src="../assets/img/path4.png" class="path">
      <div class="container align-items-center">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <h1 class="profile-title text-left"></h1>
            <h5 class="text-on-back">Digibar</h5>
            <br /><br />
            <p class="profile-description">Your One Stop Invoice Management System.</p>
            {% comment %} <div class="btn-wrapper profile pt-3"> {% endcomment %}
              {% comment %} <a target="_blank" href="https://twitter.com/creativetim" class="btn btn-icon btn-twitter btn-round" data-toggle="tooltip" data-original-title="Follow us">
                <i class="fab fa-twitter"></i>
              </a>
              <a target="_blank" href="https://www.facebook.com/creativetim" class="btn btn-icon btn-facebook btn-round" data-toggle="tooltip" data-original-title="Like us">
                <i class="fab fa-facebook-square"></i>
              </a>
              <a target="_blank" href="https://dribbble.com/creativetim" class="btn btn-icon btn-dribbble  btn-round" data-toggle="tooltip" data-original-title="Follow us">
                <i class="fab fa-dribbble"></i>
              </a> {% endcomment %}
            {% comment %} </div> {% endcomment %}
          </div>
          <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <div class="card card-coin card-plain">
              <div class="card-header">
                {% comment %} <img src="../assets/img/mike.jpg" class="img-center img-fluid rounded-circle"> {% endcomment %}
                <h4 class="title">Transactions</h4>
              </div>
              <div class="card-body">
                
                <div class="tab-content tab-subcategories">
                  <div class="tab-pane active" id="linka">
                    <div class="table-responsive">
                      <table class="table tablesorter " id="plain-table">
                        <thead class=" text-primary">
                          <tr>
                            <th class="header">
                              Bill ID
                            </th>
                            <th class="header">
                              Sales ID
                            </th>
                            <th class="header">
                              Date
                            </th>
                            <th class="header">
                              Debit 
                            </th>
                            <th class="header">
                              Credit
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                        {% if Transaction %}
                          {% for category in Transaction %}
                          <tr>
                            <td>
                              {{ category.billID }}
                            </td>
                            <td>
                              {{ category.salesID}}
                            </td>
                            <td>
                              {{ category.date }}
                            </td>
                            <td>
                              {{ category.debit }}
                            </td>
                            <td>
                              {{ category.credit }}
                            </td>
                          </tr>
                          {% endfor %}
                            </ul>
                        {% else %}
                        <tr>
                            <strong>There are no categories present.</strong>
                        </tr>
                        {% endif %}
                          {% comment %} <tr>
                            <td>
                              BTC
                            </td>
                            <td>
                              7.342
                            </td>
                            <td>
                              48,870.75 USD
                            </td>
                          </tr>
                          <tr>
                            <td>
                              ETH
                            </td>
                            <td>
                              30.737
                            </td>
                            <td>
                              64,53.30 USD
                            </td>
                          </tr>
                          <tr>
                            <td>
                              XRP
                            </td>
                            <td>
                              19.242
                            </td>
                            <td>
                              18,354.96 USD
                            </td>
                          </tr> {% endcomment %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="tab-pane" id="linkb">
                    <div class="row">
                      <label class="col-sm-3 col-form-label">Pay to</label>
                      <div class="col-sm-9">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="e.g. 1Nasd92348hU984353hfid">
                          <span class="form-text">Please enter a valid address.</span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-3 col-form-label">Amount</label>
                      <div class="col-sm-9">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="1.587">
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-simple btn-primary btn-icon btn-round float-right"><i class="tim-icons icon-send"></i></button>
                  </div>
                  <div class="tab-pane" id="linkc">
                    <div class="table-responsive">
                      <table class="table tablesorter " id="plain-table">
                        <thead class=" text-primary">
                          <tr>
                            <th class="header">
                              Latest Crypto News
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              The Daily: Nexo to Pay on Stable...
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Venezuela Begins Public of Nation...
                            </td>
                          </tr>
                          <tr>
                            <td>
                              PR: BitCanna – Dutch Blockchain...
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="section section-lg section-coins">
      <img src="../assets/img/path3.png" class="path">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            {% comment %} <hr class="line-info"> {% endcomment %}
            {% comment %} <h1>Choose the coin
              <span class="text-info">that fits your needs</span>
            </h1> {% endcomment %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card card-coin card-plain">
              <div class="card-header">
                {% comment %} <img src="{% static './img/bitcoin.png' %}" class="img-center img-fluid"> {% endcomment %}
              </div>
              <div class="card-body">
              <div class="row">
                  <div class="col-md-12 text-center">
                    <h4 class="text-uppercase">Sales</h4>
                    {% comment %} <span>Plan</span> {% endcomment %}
                    <hr class="line-success">
                  </div>
                </div>
                <div class="row">
                    <div class="table-responsive justify-content-center">
                      <table class="table tablesorter " id="plain-table">
                        <thead class=" text-primary">
                          <tr>
                            <th class="header">
                              Invoice No.
                            </th>
                            <th class="header">
                              Company Name
                            </th>
                            <th class="header">
                              Items
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% if Sales %}
                          {% for category in Sales %}
                          <tr>
                            <td>
                              {{ category.salesID }}
                            </td>
                            <td>
                              {{ category.companyID }}
                            </td>
                            <td>
                              {{ category.itemID }}
                            </td>
                          </tr>
                          {% endfor %}
                            </ul>
                        {% else %}
                        <tr>
                            <strong>There are no categories present.</strong>
                        </tr>
                        {% endif %}
                        </tbody>
                      </table>
                    </div>
                </div>
              </div>
              <div class="card-footer text-center">
                <button class="btn btn-primary btn-simple">Record Sales</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-coin card-plain">
              <div class="card-header">
                {% comment %} <img src="{% static './img/etherum.png' %}" class="img-center img-fluid"> {% endcomment %}
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <h4 class="text-uppercase">Purchases</h4>
                    {% comment %} <span>Plan</span> {% endcomment %}
                    <hr class="line-success">
                  </div>
                </div>
                <div class="row">
                  <div class="table-responsive justify-content-center">
                      <table class="table tablesorter " id="plain-table">
                        <thead class=" text-primary">
                          <tr>
                            <th class="header">
                              Bill ID
                            </th>
                            <th class="header">
                              Company Name
                            </th>
                            <th class="header">
                              Status
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% if Purchases %}
                          {% for category in Purchases %}
                          <tr>
                            <td>
                              {{ category.billID }}
                            </td>
                            <td>
                              {{ category.companyID }}
                            </td>
                            <td>
                              {{ category.status }}
                            </td>
                          </tr>
                          {% endfor %}
                            </ul>
                        {% else %}
                        <tr>
                            <strong>There are no categories present.</strong>
                        </tr>
                        {% endif %}
                        </tbody>
                      </table>
                    </div>
                </div>
              </div>
              <div class="card-footer text-center">
                <button class="btn btn-success btn-simple">Record Purchase</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-coin card-plain">
              <div class="card-header">
                {% comment %} <img src="../assets/img/ripp.png" class="img-center img-fluid"> {% endcomment %}
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <h4 class="text-uppercase">Products and Services</h4>
                    {% comment %} <span>Plan</span> {% endcomment %}
                    <hr class="line-info">
                  </div>
                </div>
                <div class="row">
                  <div class="table-responsive justify-content-center">
                      <table class="table tablesorter " id="plain-table">
                        <thead class=" text-primary">
                          <tr>
                            <th class="header">
                              Item no
                            </th>
                            <th class="header">
                              Name
                            </th>
                            <th class="header">
                              Price
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% if ProductandServices %}
                          {% for category in ProductandServices %}
                          <tr>
                            <td>
                              {{ category.itemID }}
                            </td>
                            <td>
                              {{ category.psName }}
                            </td>
                            <td>
                              {{ category.rate }}
                            </td>
                          </tr>
                          {% endfor %}
                            </ul>
                        {% else %}
                        <tr>
                            <strong>There are no categories present.</strong>
                        </tr>
                        {% endif %}
                        </tbody>
                      </table>
                    </div>
              </div>
              <div class="card-footer text-center">
                <button class="btn btn-info btn-simple">View More </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  </div>



      


  <!--   Core JS Files   -->
  <script src="{% static './js/core/jquery.min.js' %}" type="text/javascript"></script>
  <script src="{% static './js/core/popper.min.js' %}" type="text/javascript"></script>
  <script src="{% static './js/core/bootstrap.min.js' %}" type="text/javascript"></script>
  <script src="{% static './js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="{% static './js/plugins/bootstrap-switch.js' %}"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="{% static './js/plugins/nouislider.min.js' %}" type="text/javascript"></script>
  <!-- Chart JS -->
  <script src="{% static './js/plugins/chartjs.min.js' %}"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="{% static './js/plugins/moment.min.js' %}"></script>
  <script src="{% static './js/plugins/bootstrap-datetimepicker.js' %}" type="text/javascript"></script>
  <!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <script src="{% static './demo/demo.js' %}"></script>
  <!-- Control Center for Black UI Kit: parallax effects, scripts for the example pages etc -->
  <script src="{% static './js/blk-design-system.js' %}" type="text/javascript"></script>
</body>

</html>